*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.pdf
/bibexport.bib
/die.tar.gz
/rev.tex
/abstract.txt
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
!/pyplot/*.pdf
.latexrun.db
/_minted-p/
/p.synctex.gz
/auto
